

        </div>
        <div class="column center-column">

        </div>
        <div class="column right-column">

        </div>
      </div>
      <div class="row">
        <div class="lcars-column">
          <div class="lcars-item2-top-block"></div>
          <div class="lcars-item2-connect-block"></div>
          <div class="lcars-item2-general-block1"></div>
          <div class="lcars-item2-general-block2"></div>
        </div>
        <div class="column left-column">
          <div class="section note">
            <div class="title">
              {{localize 'sta.actor.note.title'}}
            </div>
            <div class="header row item">
              <div class="one-column-no-roll" style="height:17px;"></div>
            </div>

          </div>
        </div>
        <div class="column center-column">

        </div>
        <div class="column right-column">

        </div>
      </div>
    </div>
  </div>
</form>