/* Button Starts Here */

.check-button {
font-weight: unset;
font-size: 14px;
color: $taskbuttonColor;
text-align: center;
background-color: transparent;
border: solid $taskbuttonColor;
border-width: 0 20px;
width: unset;
margin: 8px 16px 4px;
}

  .btn {
    background-color: transparent;
    color: $taskbuttonColor;
    border-radius: 20px;
    font-weight: bold;
  
    &:hover {
      box-shadow: none;
      background-color: $taskbuttonHover;
      cursor: pointer;
    }
  }

  .btn2 {
    background-color: transparent;
    color: $challengebuttonColor;
    border-radius: 20px;
    font-weight: bold;
  
    &:hover {
      box-shadow: none;
      background-color: $challengebuttonHover;
      cursor: pointer;
    }
  }
  .btn3 {
    background-color: transparent;
    color: $acclaimbuttonColor;
    border-radius: 20px;
    font-weight: bold;
  
    &:hover {
      box-shadow: none;
      background-color: $acclaimbuttonHover;
      cursor: pointer;
    }
  }

/* Button Ends Here */