/* Button Starts Here */

.check-button {
  font-weight: unset;
  font-size: 14px;
  color: $textgrey;
  text-align: center;
  background-color: transparent;
}

  .btn {
    border: solid $taskbuttonColor;
    border-width: 0 20px;
    width: unset;
    margin: 8px 16px 4px;
    border-radius: 20px;
    font-weight: bold;
  
    &:hover {
      box-shadow: none;
      background-color: $taskbuttonColor;
      cursor: pointer;
    }
  }

  .btn2 {
    border: solid $challengebuttonColor;
    border-width: 0 20px;
    width: unset;
    margin: 8px 16px 4px;
    border-radius: 20px;
    font-weight: bold;
  
    &:hover {
      box-shadow: none;
      background-color: $challengebuttonColor;
      cursor: pointer;
    }
  }
  .btn3 {
    border: solid $acclaimbuttonColor;
    border-width: 0 20px;
    width: unset;
    margin: 8px 16px 4px;
    border-radius: 20px;
    font-weight: bold;
  
    &:hover {
      box-shadow: none;
      background-color: $acclaimbuttonColor;
      cursor: pointer;
    }
  }

/* Button Ends Here */