/* Character Style Starts Here */

/* Page Styling */
.character-sheet {
  background: $background;
}

.split-section {
  display: flex;
  width: 100%;
}

.top-left-column {
  flex: 0 0 205px;
  padding-right: 5px;
  align-self: flex-start;
}

.top-right-column {
  flex: 0 0 625px;
  padding-left: 5px;
  align-self: flex-start;
}

.bottom-left-column {
  flex: 0 0 150px;
  padding-right: 5px;
  align-self: flex-start;
}

.bottom-right-column {
  flex: 0 0 680px;
  padding-left: 5px;
  align-self: flex-start;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.items-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  .numeric-entry {
    width: 30px;
	text-align: right;
  }
}

.title {
  margin-top: 5px;
  font-weight: bold;
}

/* Image Styling */
.image-field {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.profile-img {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

/* Name Field Styling */
.name-field .text-entry {
  font-size: 2rem;
  height: 3rem;
}

/* Note Field Styling */
  .tab .note {
    height: 400px;
    padding-top: 5px;
  }

/* Character Style Ends Here */