/* Colors Start Here */

$background: #0F0F0F;
$backgroundGray: #4C4D47;
$headerColor: #FAA41B;
$buttonColor: #FFCC33;
$buttonHover: #FFEEAA;
$buttonColor2: #CC2233;
$buttonHover2: #DD4444;
$inlaidText: #000000;
$inputColor: #CC88FF;
$labelColor: #33CCCC;
$editorText: #000000;
$editorBackground: #FFFFFF;
$trackbarBorders: #666688;
$separatorBorders: #FF7700;
$chatText: #FEFEFE;
$crit: #18520B;
$complication: #AA0200;
$lcarsColors: (
  "lcarsheader": #444A77,
  "purple": #9944FF,
  "lightblue": #33CCCC,
  "blue": #4455FF,
  "bluepurple": #7788FF,
  "brightpurple": #CC33FF,
  "lightpurple": #CC88FF,
  "orange": #FF7700,
  "brightred": #FF2200,
  "gold": #FFAA00,
  "red": #DD4444,
  "lightred": #FF5555,
  "tan": #FF9966,
  "lighttan": #FFBBAA
);
$trackColors: (
  "stressSelected": #1111EE,
  "stress": #FF2200,
  "determinationSelected": #FFCC33,
  "determination": #191813,
  "repSelected": #CC2233,
  "rep": #191813,
  "shieldsSelected": #1111EE,
  "shields": #FF2200,
  "powerSelected":  #FFCC33,
  "power":#191813,
  "crewSelected": #CC2233,
  "crew": #191813,
  "extendedtaskSelected": #FFCC33,
  "extendedtask": #191813
);

/* Colors Ends Here */