/* Colors Start Here */

$background: #FAF9F6;
$textgrey: #191813;
$inputbacground: rgba(0, 0, 0, 0.05);
$taskbuttonColor: #009dff;
$taskbuttonHover: #191813;
$challengebuttonColor: red;
$challengebuttonHover: #red;
$acclaimbuttonColor: #F2CC0D;
$acclaimbuttonHover: #191813;
$deletebuttonHover: #191813;
$editbuttonHover: #191813;
$trackColors: transparent;
$trackColorsselected: #F2CC0D;


/* Colors Ends Here */